body {
  background: #F4CAAC;
  height: 200px;
  width: 300px;
  margin: 0;
  /*display: flex;
  justify-content: center;
  align-items: center; */
}

.container {
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-items: center;
}

.header {
  width: 100%;
  padding: 10px;
  border-bottom:2px solid #073533;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 200px;
}

h1 {
  color: #073533;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.box {
  width:inherit;
  height:100px;
  margin:0;
  display: flex;
  box-sizing:border-box;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 1;
}

button#send-data {
  background: #DD6453;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  font-size: 1.2em;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: #073533;
  outline: none !important;
}

.box1 {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  width: inherit;
  height: 100px;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#prediction {
  font-size: 1.7em;
  font-family: 'Oswald', sans-serif;
  color: #447E8C;
  font-weight: 600;
  align-items: center;
  text-align: center;
  margin: 0;
}
#title {
  font-size: 1.7em;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: #073533;
}
/* ---------- Indicators START---------- */
/* .indicators {
  margin-top: 40px;
  position: relative;
  flex-direction: column;
  text-align: left;
}

h4 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
  text-decoration: underline;
}

ul {
 padding-left: 17px;
}

li {
  margin: auto;
  font-size: 1.1em;
  list-style-type: square;
  padding: 0;
} */
/* ---------- Indicators END---------- */
/* ---------- FOOTER START ---------- */
.footer {
  width: 100%;
  border-top:2px solid #073533;
  text-align: center;
  justify-content: space-around;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.footer_li{
  width: 50%;
  float: left;
}

li.left_side {
  border-right: 1px solid #073533;
}

li.footer_li:last-child {
  width: 50%;
  float:right;
  list-style-type: none;
}

li a {
  display: block;
  color: #DD6453;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover:not(.active) {
  background-color: rgb(202, 195, 195);
}
/* ---------- FOOTER END ---------- */

/* ---------------------GAUGE------------------------*/
/* *,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
  --rotation: 0deg;
}

body {
  height: 100vh;
}

.container1 {
  font-family: Arial;
  height: 8rem;
  left: 50%;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16rem;
}

.loader {
  background: transparent;
  border: 30px solid #D7ECA6;
  border-radius: 50%;
  height: 16rem;
  transition: transform .2s ease;
  transform: rotate(var(--rotation));
  position: relative;
  width: 16rem;
}
.loader::before {
  content: '';
  border: 30px solid #8CC800;
  border-left-color: transparent;
  border-radius: 50%;
  border-top-color: transparent;
  height: 16rem;
  left: -30px;
  top: -30px;
  transform: rotate(45deg);
  position: absolute;
  width: 16rem;
  z-index: 2;
}
.loader__title {
  color: #8CC800;
  font-size: 5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
} */
