body {
  width: 200px;
  height: 200px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#send-data {
  background: #C3413B;
  padding: 10px;
  font-size: 1em;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  outline: none !important;
}

/* New Addition - Loader icon */
/*
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/
